body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    margin: 10px 10px auto;
    padding: 10px;
    border-color: grey;
    border-width: thick;
    border-radius: 10px;
}
.message-info {
    background-color: cornflowerblue;
    color: lightskyblue;
}
.message-success {
    border-radius: 10px;
    background-color: lightgreen;
    color: green;
}
.message-warning {
    border-radius: 10px;
    background-color: goldenrod;
    color: yellow;
}
.message-error {
    border-radius: 10px;
    background-color: palevioletred;
    color: darkred;
}